*{
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #f2f2f2;
    margin: 0;
}

.topbar {
    background: #d9d9d9;
    padding: 15px 30px;
    border-bottom: 2px solid #ddd;
}

.logo {
    width: 130px;
}

.form-container {
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

section {
    margin-bottom: 25px;
}

section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #489D3B;
    display: inline-block;
    padding-bottom: 3px;
    color: #489D3B;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.grid .col-2 {
    grid-column: span 2;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    display: block;
    margin-bottom: 4px;
}

input, select {
    color: #489D3B;
    font-weight: 500;
    background-color: #d9d9d9;
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

option{
    background-color: white;
}

::placeholder {
    font-style: italic;
    color: #96989A;
    font-weight: 500;
}

.btn-area {
    text-align: right;
}

button {
    background: #2a7c4b;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #489D3B;
}
