<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RHease - Painel</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/RHease/public/css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        .metric-value{
            color:#489D3B;
        }
    </style>
</head>
<body>
    <header>
        <i class="bi bi-list menu-toggle"></i>
        <img src="?= BASE_URL ?>/img/rhease-ease 1.png" alt="Logo RH ease" class="logo">
    </header> 
    
    <div class="container">
        <div class="sidebar">
            <ul class="menu">
                <li class="active"><a href="index.html"><i class="bi bi-clipboard-data-fill"></i> Painel</a></li>
                <li><a href="dados.html"><i class="bi bi-person-vcard-fill"></i> Dados cadastrais</a></li>
                <li><a href="frequencia.html"><i class="bi bi-calendar2-check-fill"></i> Frequência</a></li>
                <li><a href="salario.html"><i class="bi bi-wallet-fill"></i> Salário</a></li>
                <li><a href="beneficios.html"><i class="bi bi-shield-fill-check"></i> Benefícios</a></li>
                <li><a href="contato.html"><i class="bi bi-person-lines-fill"></i> Contato</a></li>
            </ul>
        </div>

        <div class="content">
            <h2 class="page-title-content">Painel</h2>
            
            <section class="metrics-grid">
                
                <div class="metric-card">
                    <div class="icon-wrapper"><i class="fas fa-user-friends"></i></div>
                    <p class="metric-value">50</p>
                    <p class="metric-label">Colaboradores ativos</p>
                </div>

                <div class="metric-card">
                    <div class="icon-wrapper"><i class="fas fa-briefcase"></i></div>
                    <p class="metric-value">10</p>
                    <p class="metric-label">Vagas publicadas</p>
                </div>

                <div class="chart-card contract-chart">
                    <h1 class="chart-title">Tipos de contrato</h1>
                    <div class="chart-area">
                        <div class="donut-chart-mock">
                            <span class="donut-center-value">70</span>
                        </div>
                        
                        <div class="chart-legend">
                            <ul>
                                <li class="clt"><span class="dot"></span> CLT</li>
                                <li class="pj"><span class="dot"></span> PJ</li>
                                <li class="estagio"><span class="dot"></span> Estágio</li>
                                <li class="temporario"><span class="dot"></span> Temporário</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="metric-card">
                    <div class="icon-wrapper"><i class="fas fa-file-alt"></i></div>
                    <p class="metric-value">20</p>
                    <p class="metric-label">Currículos processados</p>
                </div>

                <div class="metric-card">
                    <div class="icon-wrapper"><i class="fas fa-wallet"></i></div>
                    <p class="metric-value">8</p>
                    <p class="metric-label">Benefícios ativos</p>
                </div>

            </section>
        </div>
    </div>
</body>
</html>